html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  /* background-image: url("./res/splash2.jpg"); */
  background-size: cover;
  /* background-color: rgb(52, 52, 52); */
}

a {
  color: black;
  text-decoration: none;
}

.login-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.752);

  position: fixed;
  top: 0px;
  left: 0px;

  backdrop-filter: blur(5px);
}

.login-box {
  width: 440px;
  height: 210px;

  background-color: white;
  margin: auto;
  margin-top: calc(50vh - 150px);

  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.hide {
  display: none;
}

#dot-1 {
  width: 800px;
  height: 800px;
  position: absolute;
  bottom: -400px;
  right: -400px;
  background-color: rgba(130, 40, 199, 0.03);
  border-radius: 50%;
  z-index: -999;
}

#dot-2 {
  width: 1600px;
  height: 1600px;
  position: absolute;
  bottom: -800px;
  right: -800px;
  background-color: rgba(130, 40, 199, 0.03);
  border-radius: 50%;
  z-index: -999;
}

#dot-3 {
  width: 3200px;
  height: 3200px;
  position: absolute;
  bottom: -1600px;
  right: -1600px;
  background-color: rgba(130, 40, 199, 0.03);
  border-radius: 50%;
  z-index: -999;
}

#dot-4 {
  width: 6400px;
  height: 6400px;
  position: absolute;
  bottom: -3200px;
  right: -3200px;
  background-color: rgba(130, 40, 199, 0.03);
  border-radius: 50%;
  z-index: -999;
}

.selfie-img {
  background-image: url("./res/selfie.png");
  background-size: cover;
}

/* .expandable::after {
  content: " ";
  height: 6px;
  width: 6px;
  border-top: 1px solid rgb(187, 187, 187);
  border-right: 1px solid rgb(187, 187, 187);
  float: right;
  margin-right: 10px;
  transform: translateY(8px) rotate(45deg);
} */

.hidden {
  display: none;
}

nav {
  position: absolute;
  top: 41px;
  left: 0px;
  transition-duration: 150ms;
  transition-timing-function: ease;
  width: 180px;
  height: calc(100vh - 41px);
  background-color: rgb(130, 69, 184);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.logo-banner {
  padding: 10px 0px 10px 0px;
  display: inline-block;
  margin-left: 52px;
}

.banner-logo {
}

.banner-name {
  color: white;
  font-weight: bold;
}

.sub-nav {
  margin-top: 12px;
  padding-right: 20px;
}

.top-nav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  background-color: rgb(130, 69, 184);
  height: 41px;
}

.sub-nav li {
  background-color: rgb(52, 49, 53);
  padding: 4px 8px 6px 18px;
  width: 154px;
  margin-left: -10px;
}

.sub-nav li:hover {
  background-color: rgb(72, 72, 72);
}

.expandable {
  
}

.login-box {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.splash-container {
  background-color: rgb(74, 74, 74);
  border-radius: 8px 0px 0px 8px;
}

.sign-in-banner {
  font-weight: bold;
  padding: 20px 0px 0px 10px;
}

.sign-in-container {
  padding: 8px 8px 8px 50px;
}

button {
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.155);
  border: 1px solid rgb(0, 0, 0);
  padding: 5px 15px 5px 15px;
  display: block;
  margin-top: 10px;
}

label {
  display: block;
  font-size: 0.8em;
}

form {
  padding: 10px;
}

.expanded {
  
}

.arrow {
  transition-duration: 150ms;
}

.expand-arrow {
  float: right;
  height: 8px;
  width: 8px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-right: 10px;
  transform: translateY(7px) rotate(45deg);
}

.expanded-arrow {
  float: right;
  height: 8px;
  width: 8px;
  border-top: 1px solid white;
  border-right: 1px solid white;
  margin-right: 10px;
  transform: translateY(7px) rotate(135deg);
}

.nav-expand {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: rgb(244, 244, 244);
  border-radius: 50%;
  border: 1px solid black;
  top: 10px;
  right: -10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.nav-expand:hover {
  cursor: pointer;
}

.user-profile {
  position: relative;
}

.user-profile .nav-arrow {
  height: 5px;
  width: 5px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transform: translateX(6px) translateY(7px) rotate(45deg);
}

.user-profile .nav-arrow.nav-expanded {
  transform: translateX(8px) translateY(7px) rotate(-135deg);
}

#help-button {
  line-height: 16px !important;
  padding: 3px 5px 5px 5px;
  margin-top: 7px;
  border-radius: 5px;
  color: rgb(27, 27, 27) !important;
  background-color: rgb(244, 244, 244);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0.8em !important;
}

.collapsed {
  transform: translateX(-150px);
}

.content {
  position: absolute;
  top: 45px;
  left: 230px;
  width: calc(100vw - 280px);
  height: calc(100vh - 90px);
  transition-duration: 150ms;
  transition-timing-function: ease;
}

.content-full { /* needs to cascade after .content */
  position: absolute;
  top: 45px;
  left: 75px !important;
  width: calc(100vw - 125px) !important;
  height: calc(100vh - 90px);
}
